@media screen and (min-width: 1024px){
    .container {
        width: 960px;
    }

    i.fa-ellipsis-h {
        display: none;
    }

    .nav-menu {
        height: 50px;
        width: 210px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .link {
        font-weight: normal;
        font-size: 18px;
        color: #F1F1F1;
        text-decoration: none;
    }
    
    .disabled {
        cursor: not-allowed;
    }

    .landing-page-container {
        height: 100%;
    }
    
    .landing-page-text {
        width: 60%;
        height: 35%;
    }

    .landing-page-text button {
        transition: background-color 1.0s;  
        transition: color 1.0s; 
        cursor: pointer; 

    }

    .landing-page-text button:hover {
        background-color: #FFFFFF;
        color: black;
    }

    h3 {
        justify-content: left;
    }

    .person {
        display: flex;
        align-items: center;
    }

    .person:nth-of-type(even) {
        flex-direction: row-reverse;
        text-align: right;
    }
    
    .person:nth-of-type(even) .person-img {
        margin-left: 20px;
    }
    
    .person:nth-of-type(odd) .person-img {
        margin-right: 20px;
    }

    .box-container {
        width: 100%;
        grid-template-columns: 33% 33% 33%;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }

    .box {
        transition: ease 0.5s;
    }
    
    .box:hover {
        background: #F1F1F1;
        transform: scale(1.05);
    }

    .footer-notes {
        justify-content: space-between;
        flex-direction: row;
    }
    
}