body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    height:50px;
    width: 100vw;
    background-color: #4E4E4E;
    position: fixed;
    z-index: 1;
}

.nav-menu {
    display: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.nav-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-company-name {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

i.fa-ellipsis-h {
    color: #FFFFFF;
}

.landing-page {
    width: 100vw;
    height: 100vh;
    background: url('https://picsum.photos/1920/1080');
    position: relative;
    background-size: cover;
    background-position: center;
}

.landing-page-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.landing-page-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}

.landing-page-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 77%;
    height: 58%;
}

.landing-page-text h1, .landing-page-text h2, .landing-page-text button {
    font-weight: bold;
    color: #FFFFFF;
}

.landing-page-text h1 {
    font-size: 36px;
}

.landing-page-text h2, .landing-page-text button {
    font-size: 18px;
}

.landing-page-text button {
    padding: 6px 35px;
    border: 3px solid #FFFFFF;
    background: transparent;
}

.about {
    width: 100%;
    height: 100%;
    background: #F1F1F1;
}

h3, .person {
    padding: 5% 0 0 0;
}

h3 {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #152D41;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}

.person:last-of-type {
    padding: 0 0 5% 0;
}

.person-img {
    width: 199px;
    height: 199px;
    background-image: url('https://picsum.photos/200');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.person h4 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
}

.offer-container {
    width: 100%;
    height: 100%;
    background: #405D78;
}

h5 {
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    padding: 5% 0 0 0;
}

.box-dot {
    height: 20px;
    width: 20px;
    background: #E07A64;
    border-radius: 50%;
    position: absolute;
    left: -3%;
    top: -3%;
}

.box-container {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-row-gap: 14px;
    font-size: 24px;
    background: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5% 0;
    margin: 0 auto;
}

.box-container > div:after {
    background: #F1F1F1;
    display: block;
    content: "";
    padding-bottom: 100%;
}

.box-container > div {
    position: relative;
}

.box-container .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

footer {
    width: 100%;
    height: 100%;
    background-color: #4E4E4E;
    padding: 1% 0;
}

.footer-notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h6, .footer-icons, a .fab {
    color: #FFFFFF;
}

h6 {
    font-weight: bold;
    font-size: 18px;
}

.footer-icons {
    display: flex;
    align-items: center;
}


/*.go-to-top {
    position: fixed;
    right: 3%;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    }
    
    <a href=#">^</a> */
