@media screen and (min-width: 768px){
    .container {
        width: 720px;
    }

    i.fa-ellipsis-h {
        display: none;
    }

    .nav-menu {
        height: 50px;
        width: 210px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .link {
        font-weight: normal;
        font-size: 18px;
        color: #F1F1F1;
        text-decoration: none;
    }
    
    .disabled {
        cursor: not-allowed;
    }

    .landing-page-text {
        width: 70%;
        height: 35%;
    }

    h3 {
        justify-content: left;
    }

    .person {
        align-items: center;
        flex-direction: row;
    }

    .person:nth-of-type(even) {
        flex-direction: row-reverse;
        text-align: right;
    }
    
    .person:nth-of-type(even) .person-img {
        margin-left: 20px;
        
    }
    
    .person:nth-of-type(odd) .person-img {
        margin-right: 20px;
    }
    
    .box-container {
        width: 90%;
        grid-template-columns: 48% 48%;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }

    .footer-notes {
        justify-content: space-between;
        flex-direction: row;
    }
    
}